In [47]:
import json
import csv
from io import StringIO
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mplfinance as mpf
import pandas_datareader as pdr
from matplotlib import rcParams
from matplotlib.patches import Rectangle
from json import JSONEncoder
import yfinance as yf

In [48]:
strategy = pd.read_excel('Long Term Analysis/WGYP-Investment-Competition-Stock-List-Industries.xlsx')
strategy

,Stock,Ticker,Exchange,Industry,Supersector,Sector,Subsector
0,"Air Products and Chemicals, Inc.",APD,"New York Stock Exchange, Inc.",Basic Materials,Chemicals,Chemicals,Specialty Chemicals
1,Aluminum Corporation of China Limited ADR Class H,ACH,"New York Stock Exchange, Inc.",Basic Materials,Basic Resources,Industrial Metals and Mining,Aluminum
2,"Ashland Global Holdings, Inc.",ASH,"New York Stock Exchange, Inc.",Basic Materials,Chemicals,Chemicals,Chemicals: Diversified
3,Atul Limited,500027,BSE LTD,Basic Materials,Chemicals,Chemicals,Chemicals: Diversified
4,BHP Group Plc,BHP,London Stock Exchange,Basic Materials,Basic Resources,Industrial Metals and Mining,General Mining
...,...,...,...,...,...,...,...
508,SSE plc,SSE,London Stock Exchange,Utilities,Utilities,Electricity,Conventional Electricity
509,Tata Power Company Limited,500400,BSE LTD,Utilities,Utilities,Electricity,Conventional Electricity
510,The York Water Company,YORW,Nasdaq,Utilities,Utilities,"Gas, Water and Multi-utilities",Water
511,UGI Corporation,UGI,"New York Stock Exchange, Inc.",Utilities,Utilities,"Gas, Water and Multi-utilities",Gas Distribution
512,United Utilities Group PLC,UU.,London Stock Exchange,Utilities,Utilities,"Gas, Water and Multi-utilities",Water

In [60]:
stock_list = []
stock_industry = []
stock_sector = []
tickerPrice = []
for x in range(len(strategy)):
    stock_list.append(strategy['Ticker'][x])
    stock_industry.append(strategy['Industry'][x])
    stock_sector.append(strategy['Sector'][x])
print(stock_list)

['APD', 'ACH', 'ASH', '500027', 'BHP', 'BRKM5', 'CHNR', 'CLW', 'CSNA3', 'EMN', 'FMC', 'FCX', 'FFHL', 'GGBR4', 'GLEN', '500440', 'IOSP', 'JMAT', 'KALU', 'KL', 'KLBN11', 'MMAT', 'NP', 'NTIC', 'PKX', 'KWR', 'ROLL', 'RIO', 'RGLD', 'SUZB3', '500470', 'X', 'VALE3', '500295', 'ANF', 'ATVI', 'AC', 'BABA', 'ATD.B', 'AMZN', 'AMC', 'AAL', 'AEO', 'APTV', 'AZO', 'AVP', '532977', 'BNED', '500043', 'BBBY', 'BBY', 'BWA', '500530', 'BYD', 'BBW', 'BURL', 'CZR', 'GOOS', 'KMX', 'CCL', 'CAKE', 'CAAS', 'CEA', 'ZNH', '601888', 'CMG', 'CPG', 'COST', 'DJCO', 'DAL', 'DG', 'DLTR', 'DOL', 'DOM', 'DPZ', 'EZJ', 'EDR', 'ETSY', 'FL', 'F', 'GPS', 'GM', 'HRB', 'HOG', 'HAS', '500182', 'HIBB', 'HD', 'HMC', 'HSW', 'H', 'IMAX', 'IHG', 'JBLU', '533155', 'LE', 'LVS', 'LCII', 'RENT3', 'LAME4', 'LREN3', 'LOOK', 'LULU', 'LYFT', 'M', 'MGLU3', '500520', 'MAR', '532500', 'MAT', 'MCD', '000333', 'MOV', 'NTES', 'NFLX', 'EDU', 'NXT', 'NKE', 'NCLH', 'OTB', 'ORLY', 'PZZA', 'PSON', 'PTON', 'PLNT', 'QSR', 'REV', 'RBA', 'SIRI', 'SKYW', 'SWBI', 'SONY', 'LUV', 'SAVE', 'SPOT', 'SBUX', 'SFIX', 'TAL', 'TGT', '500570', 'TSLA', 'TXRH', 'TCS', 'EL', 'DIS', 'WEN', 'NCTY', '500114', 'TJX', 'TM', 'UBER', 'ULTA', 'UAA', 'URBN', 'VRA', 'VFC', 'WMT', 'WTB', 'WSM', 'WH', 'YUM', 'ZNGA', 'ABEV3', 'CRFB3', 'BRFS3', 'CPB', 'CASY', 'KO', 'CL', 'CORE', 'CTVA', 'CVS', 'DEO', 'GIS', '540743', '532424', '500696', '500875', 'JJSF', 'SBRY', 'JBSS3', 'K', 'KDP', '600519', 'MDIA3', 'MKC', 'MCK', 'TAP', 'MNST', 'FIZZ', '500790', 'PEP', 'PG', 'RADL3', 'RKT', 'RAD', 'SFM', 'SYY', 'HSY', 'TR', 'THS', 'TSN', 'UL', 'ULVR', 'UNFI', 'WBA', 'WDFC', '000858', 'WYN', 'AMTX', 'BP', 'CCJ', 'CNQ', 'CVX', 'SNP', '00386', '533278', 'CLR', 'CSAN3', 'ET', 'XOM', '532155', 'HES', 'LAM', 'NGS', 'NOV', '500312', 'OKE', 'BRDT3', 'PTR', '00857', 'PETR3', 'PETR4', 'PSX', '500325', 'RDSA', 'SU', 'SUN', 'TLW', 'UGPA3', 'AFL', 'ALL', 'APAM', 'AV.', '532215', 'B3SA3', '532978', 'BBDC3', 'BBDC4', 'BPAC11', 'BBAS3', 'SANB11', 'BAC', '002142', 'BNS', 'OZK', 'BCS', 'BBSE3', 'BLK', 'BX', 'BPFH', 'CWB', '00939', 'JRJC', 'C', 'CLIG', 'CS', 'DB', 'DFS', 'FFH', 'BEN', 'GBCI', 'GS', 'GEG', 'GWO', '500180', '500010', 'HSBA', '532174', 'ICE', 'IRBR3', 'ITUB4', 'ITSA4', 'JPM', 'KEY', 'KKR', '500247', 'LAZ', 'LLOY', 'L', 'MTB', '500271', 'MET', 'MCO', 'MS', 'NWG', 'ONB', 'OPY', '02318', 'PNC', 'PSSA3', 'PRU', '532955', 'RF', 'RY', 'SDR', 'SEIC', 'STAN', '500112', 'SULA11', 'TROW', 'UBS', 'WFC', 'WBK', '532648', 'ABT', 'ABBV', 'ACHC', 'AMGN', 'AZN', '524804', 'ACB', 'BAX', 'BMY', 'CSII', 'CPRX', 'CNC', '500087', '500124', 'ENDP', 'GMAB', 'GILD', 'GSK', 'GMED', '532482', 'HBIO', 'HYPE3', 'ILMN', 'IQV', '600276', 'JNJ', 'MDC', 'MRK', 'MYGN', 'GNDI3', 'NVS', 'PFE', '500302', 'PBH', 'REGN', '300760', 'SN.', '524715', 'TEVA', 'TVTY', 'UNH', 'VEEV', 'VYNT', 'ZGNX', 'AXP', 'AMN', '600585', '00914', 'ARCB', 'ASGN', '500820', 'BECN', '509480', '500103', 'BILL', 'BA', 'BBD.B', 'BNZL', 'CAR', 'CJT', 'CAT', 'CCRO3', '03311', 'CYD', 'CIEL3', '00267', 'DE', 'PLOW', 'EMBR3', 'EXPN', 'FICO', 'FERG', 'FCN', 'GE', 'ROCK', 'GAPB', 'HTLD', 'KSU', '500510', 'LMT', 'MA', 'MNDI', '500304', 'PCAR', 'PYPL', 'RTX', 'RR.', 'RAIL3', '600009', 'SMIN', 'SNA', 'MIDD', 'TWI', 'TREX', '532538', 'VRSK', 'V', 'WNC', 'WEGE3', 'ZTO', 'BRML3', '000002', '02202', '600007', 'DLR', 'EXR', 'IRM', 'MULT3', 'DOC', 'PSA', 'RMV', 'GEO', 'ADBE', 'GOOG', 'AAPL', 'BIDU', 'BNFT', 'CTSH', 'CSU', 'DSCV', 'DXC', '532927', 'ENGH', 'FB', 'FTNT', 'GRPN', '002415', '532281', '500209', '535648', 'MANH', 'MTCH', '03690', 'MCRO', 'MSFT', '532819', 'NVDA', 'NXPI', 'ORCL', 'QCOM', 'SGE', 'CRM', 'SAP', 'SHOP', 'SOHU', '532540', '532755', '00700', 'TWTR', '507685', 'XRX', 'ANET', '532493', 'T', 'BCE', '532454', 'BT.A', '00941', 'CMCSA', '601138', 'GOGO', 'VIVT3', 'UTSI', 'VEON', 'VZ', 'VOD', 'AEP', 'AWK', 'CU', 'ELET3', 'ELET6', '00384', '600900', 'SBSP3', 'CMIG4', 'CPFE3', 'D', 'ENGI11', 'EGIE3', 'EQTL3', 'FE', '517300', 'HNP', 'MSEX', 'NFG', '532555', 'PCG', '532898', 'SRE', 'SVT', '533206', 'SJW', 'SO', 'SSE', '500400', 'YORW', 'UGI', 'UU.']

In [61]:
yf.Ticker(stock_list[0]).financials

,2020-09-30,2019-09-30,2018-09-30,2017-09-30
Research Development,8.39e+07,7.29e+07,6.45e+07,5.76e+07
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,2.4238e+09,2.2895e+09,2.015e+09,1.4161e+09
Minority Interest,3.633e+08,3.347e+08,3.188e+08,9.93e+07
Net Income,1.8867e+09,1.76e+09,1.4978e+09,3.0004e+09
Selling General Administrative,7.31e+08,7.297e+08,8.012e+08,6.304e+08
Gross Profit,2.9982e+09,2.9434e+09,2.7407e+09,2.4361e+09
Ebit,2.2472e+09,2.2199e+09,1.9252e+09,1.8448e+09
Operating Income,2.2472e+09,2.2199e+09,1.9252e+09,1.8448e+09
Other Operating Expenses,-6.39e+07,-7.91e+07,-5.02e+07,-9.67e+07
Interest Expense,-1.093e+08,-1.37e+08,-1.305e+08,-1.206e+08
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,4.784e+08,4.801e+08,5.243e+08,2.609e+08
Total Revenue,8.8563e+09,8.9189e+09,8.9302e+09,8.1876e+09
Total Operating Expenses,6.6091e+09,6.699e+09,7.005e+09,6.3428e+09
Cost Of Revenue,5.8581e+09,5.9755e+09,6.1895e+09,5.7515e+09
Total Other Income Expense Net,1.766e+08,6.96e+07,8.98e+07,-4.287e+08
Discontinued Operations,-1.43e+07,-1.43e+07,4.22e+07,1.866e+09
Net Income From Continuing Ops,1.9454e+09,1.8094e+09,1.4907e+09,1.1552e+09
Net Income Applicable To Common Shares,1.8867e+09,1.76e+09,1.4978e+09,3.0004e+09

In [73]:
#for y in range()
priceAnalysis = yf.Ticker(stock_list[0])

In [22]:
df = pd.DataFrame()
df['Ticker'] = stock_list
df['Price'] = 
df

     Ticker
0       APD
1       ACH
2       ASH
3    500027
4       BHP
..      ...
508     SSE
509  500400
510    YORW
511     UGI
512     UU.

[513 rows x 1 columns]